body{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

header{
    width: 100%;
    background-color: #fadad5;
    height: 100px;
    border-bottom: #70133e 2px solid;
}

.container{
    width: 1200px;
}

#balfej{
    color: #70133e;
    font-size: 45pt;
    float: left;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
}

#balfej img{
    width: 100px;
}

#jobbfej{
    font-size: 33px;
    float: right;
    padding: 0;
    margin-top: 25px;
    font-weight: 400;
}

#jobbfej a{
    color: #70133e;
    margin: 0 5px;
}

#jobbfej a:hover{
    color: #aa6786;
}

#nagykep{
    background-image: url(../images/fagyi.jpg);
    height: 295px;
    border-bottom: #70133e 2px solid;
    padding-top: 85px; 
}

#doboz{
    text-align: center;
    margin: auto;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 40pt;
    font-weight: 400;
    border: white 2px solid;
    width: 750px;
    height: 120px;
}

#bemutatkozas{
    font-family: 'Cormorant Garamond', serif;
    background-color: #f3efef;
    color: #70133e;
    font-weight: 600;
    font-size: 18px;
    padding: 15px;
    min-height: 250px;
}
  
#bemutatkozas p{
    font-family: 'Cormorant Garamond', serif;
    color: #70133e;
    font-weight: 700;
    font-weight: bolder;
    text-align: center;
    font-size: 35px;
}

#bemutatkozas img{
    margin: 0 40px;

}

#velemeny{
    font-weight: 600;
    font-size:40px;
    text-align: center;
    color: #70133e;
    margin: 20px;
}

#velemenyek{
    color: #70133e;
}
  
#velemeny1, #velemeny2{
    width: 540px;
    color: #70133e;
}
#velemenyek img{
    float: left;
    margin-right: 30px;
    margin-bottom: 40px;
}
  
#velemenyek p{
    margin-top: 25px;
}
  
#velemenyek p span{
    font-size: 22px;
}

#cta{
    background-color: #70133e;
    text-align: center;
    color: #fadad5;
    margin-bottom: 15px;
    margin-top: 15px;
    height: 100px;
    font-weight: 500;
}

#cta .felhivas{
    float: left;
    font-size: 35pt;
    margin-left: 50px;
    margin-top: 12px;
}

#cta .gomb{
    float: right;
    font-size: 35pt;
    margin-right: 50px;
    margin-top: 12px;
}

#cta .gomb a{
    background-color: #fadad5;
    color: #70133e;
    text-decoration: none;
    padding: 5px 7px 7px 7px;
    border-radius: 10px;
}

#cta .gomb a:hover{
    background-color: #ffffff;
    color: #70133e;
  }

footer{
    width: 100%;
    background-color: #fadad5;
    color: #70133e;
    font-size: 10pt;
}

#láb{
    height: 100px;
    padding-top: 20px;
}

#balláb{
    text-align: center;
    margin-left: 500px;
    float:left;
}

#jobbláb{
    text-align: center;
    margin-right: 500px;
    float: right;
}